* {
  margin: 0;
  font-family: "Poppins";
}

header {
  display: flex;
  height: 6rem;
  padding: 15px;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px solid;
  border-image: linear-gradient(
    90deg,
    rgba(21, 21, 21, 1) 5%,
    rgba(255, 255, 255, 1) 50%,
    rgba(21, 21, 21, 1) 95%
  );
  border-image-slice: 1;
}

.navbar {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
}
.titles {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.titles h4,
a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.navbar h4,
a:hover {
  color: #397499;
  opacity: 0.8;
}

.user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .titles h4,
  a {
    font-size: 12px;
  }
}
@media screen and (max-width: 407px) {
  .titles {
    display: none;
  }
  .navbar img {
    align-items: center;
  }
}
