.footer {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  padding-bottom: 50px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 1) 70%
  );
  border-image-slice: 1;
}

.container-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
.text {
  font-size: clamp(0.4rem, 4vw, 1.2rem);
  padding: 15px;
  max-width: 600px;
}

#instagram:hover,
#twitter:hover,
#tiktok:hover,
#youtube:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

/*Responsive*/


@media screen and (max-width: 1440px) {
  .footer {
    margin-top: 50px;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 1336px) {
  .footer {
    margin-top: 80px;
    padding-bottom: 150px;
  }
}


@media screen and (max-width: 1280px) {
  .footer {
    margin-top: 80px;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 150px;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 805px) {
  .container-footer {
    flex-direction: column;
  }
  .footer {
    margin-top: 220px;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 320px) {
  .container-footer {
    flex-direction: column;
  }
  .footer {
    margin-top: 230px;
    padding-bottom: 150px;
  }
}